#footer {
    margin-top: 10rem;
    padding: 1rem;
    max-height: 6rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border-top: 0.1rem solid white; */
    
}

#menu {
    ul {
        list-style-type: none;
      }
}
