.bodhi {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  /* background-color: rgba(51, 51, 51, 0.8); */
  backdrop-filter: blur(5px);
  color: #232323;
  /* padding-top: 8px; */
  transition: border-radius 0.3s ease, margin 0.3s ease, width 0.3s ease, background-color 0.3s ease;
  z-index: 1000; /* Ensure it stays above other content */
}

.circular {
  background-color: rgba(255, 255, 255, 1);
  color: red;
  border-radius: 40px;
  margin-top: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#logotext{
  padding-bottom: .5rem;
  padding-top: .4rem;
  margin-right: 2rem;
  width: 11% !important;
  height: auto;
}
