.waw{
    background-image: linear-gradient(to bottom, #0b1550, #014981);
    /* background-color: #3a6481; */
    margin-bottom: -1rem;
    min-height: 100vh;
    padding: 2rem 0rem 2rem 0;
}

.brap{
    padding-top: 3rem;
    /* padding-left: 3rem; */
}

#da-pics{
    height: 15rem;
    width: auto !important;
    object-fit: cover;
}

#kard{
    max-height: 30rem !important;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px #00000080;
    background-image: none !important;
    overflow: hidden;
    transition: box-shadow 0.15s ease-in-out;
}

#kard:hover{
    box-shadow: 0 2px 10px #00000080;
}

#buttones{
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    color: white;
    max-height: 30rem !important;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px #00000080;
    background-image: none !important;
}

#buttones:hover{
    box-shadow: 0 2px 10px #00000080;
}

#rates{
    background-color: #014981;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    position: absolute;
    margin: .4rem;
    border-radius: 1rem;
}

#da-text{
    line-height: .8rem;
    padding: 0 0 1rem 0 !important;
    margin: -.5rem;
    margin-top: -1rem;
}