.creator1{
    position: relative;
    width: 100%;
    height: 70rem;
    background-size: cover;
    background-position: center;    
}

.content1{
    position: relative;
    width: 100%;
    height: 50rem;
    background-color: #dafff6;
    background-size: cover;
    background-position: center;
}

.content2{
    position: relative;
    width: 100%;
    height: 50rem;
    background-color: #fffc94;
    background-size: cover;
    background-position: center;
}

.content3{
    position: relative;
    width: 100%;
    height: 50rem;
    background-color: #ffe4ec;
    background-size: cover;
    background-position: center;
}

#LogInPage{
    padding-top: .5rem;
    padding-bottom: 4.7rem;
    background-image: linear-gradient(to bottom, #0b1550, #014981);
    background-size: cover;
    background-position: center
}

#OTP{
    padding-top: .5rem;
    padding-bottom: 3.7rem;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0b1550, #014981);
    background-size: cover;
    background-position: center
}

#NewPassword{
    padding-top: .5rem;
    padding-bottom: 3.7rem;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0b1550, #014981);
    background-size: cover;
    background-position: center
}

#error{
    height: 100vh;
    background-color: white;
    color: #333333 !important;
    background-size: cover;
    background-position: center;
}

#lol{
    padding: 4rem;
}

#error h1{
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uhoh{
    font-size: 1rem;
    color: #0071bd;
    text-decoration: none;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#uhoh:hover {
    background-color: transparent;
    font-size: 1.01rem;
    text-decoration: underline;
    color: #014981;
}
#art3{
    position: absolute;
    object-fit: cover;
    width: 20rem !important;
    height: 30rem !important;
    left: 5.5rem;
    top: 8.625rem;
    border-radius: 4rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#art2{
    position: absolute;
    object-fit: cover;
    width: 15rem !important;
    height: 20rem !important;
    left: 15.5rem;
    top: 23.625rem;
    border-radius: 4rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#art1{
    position: absolute;
    object-fit: cover;
    width: 7rem !important;
    height: 10rem !important;
    left: 22.5rem;
    top: 6.625rem;
    border-radius: 2rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#food1{
    position: absolute;
    object-fit: cover;
    width: 18rem !important;
    height: 22rem !important;
    left: 50.5rem;
    top: 5.625rem;
    border-radius: 3rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}
#food2{
    position: absolute;
    object-fit: cover;
    width: 20rem !important;
    height: 25rem !important;
    left: 60.5rem;
    top: 16.625rem;
    border-radius: 4rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#food3{
    position: absolute;
    object-fit: cover;
    width: 14rem !important;
    height: 18rem !important;
    left: 75.5rem;
    top: 5.625rem;
    border-radius: 4rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#food4{
    position: absolute;
    object-fit: cover;
    width: 10rem !important;
    height: 10rem !important;
    left: 54.5rem;
    top: 35 .625rem;
    border-radius: 2.5rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#art1{
    position: absolute;
    object-fit: cover;
    width: 7rem !important;
    height: 10rem !important;
    left: 22.5rem;
    top: 6.625rem;
    border-radius: 2rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#photo1{
    position: absolute;
    object-fit: cover;
    width: 11rem !important;
    height: 15rem !important;   
    left: 10.5rem;
    top: 1.5rem;
    border-radius: 2rem !important;
    /* border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important; */
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#photo2{
    position: absolute;
    object-fit: cover;
    width: 11rem !important;
    height: 15rem !important;
    left: 23.5rem;
    top: 9.5rem;
    border-radius: 2rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#photo3{
    position: absolute;
    object-fit: cover;
    width: 11rem !important;
    height: 15rem !important;
    left: 10.5rem;
    top: 17.5rem;
    border-radius: 2rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#photo4{
    position: absolute;
    object-fit: cover;
    width: 11rem !important;
    height: 15rem !important;
    left: 23.5rem;
    top: 25.5rem;
    border-radius: 2rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#photo5{
    position: absolute;
    object-fit: cover;
    width: 11rem !important;
    height: 15rem !important;
    left: 10.5rem;
    top: 33.5rem;
    border-radius: 2rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#dab{
    position: relative;
    width: 30% !important;
    height: 0 !important;
    left: 56.25rem;
    top: 14.5rem;
}

#dab h1{
    font-size: 5rem !important;
    line-height: 5.5rem;
    text-align: left;
    font-weight: 500;
    color: #333333;
}

#sab{
    position: relative;
    width: 30% !important;
    height: 0 !important;
    left: 12.25rem;
    top: 14.5rem;
}

#sab h1{
    font-size: 5rem !important;
    line-height: 4.3rem;
    text-align: left;
    font-weight: 500;
    color: #333333;
}

#sab p{
    padding-top: 2rem;
    font-size: 1.5rem !important;
    text-align: left;
    font-weight: 500;
    color: #333333;
}

#dab p{
    padding-top: 2rem;
    font-size: 1.5rem !important;
    text-align: left;
    font-weight: 500;
    color: #333333;
}

#tab{
    position: relative;
    width: 30% !important;
    height: 0 !important;
    left: 3.125rem;
    top: 3.125rem;
}

#tab h1{
    font-size: 4rem !important;
    line-height: 5.5rem;
    text-align: left;
    font-weight: 500;
    color: #333333;
}

#fab{
    position: relative;
    width: 30% !important;
    height: 0 !important;
    left: 56.25rem;
    top: 12.5rem;
}


#fab h1{
    font-size: 4rem !important;
    line-height: 5.5rem;
    text-align: left;
    font-weight: 500;
}

#gab{
    position: relative;
    width: 75% !important;
    height: 0rem !important;
    left: 2.5rem;
    top: 15.625rem;
}

#hab{
    position: relative;
    width: 45% !important;
    height: 0rem !important;
    left: 12.25rem;
    top: -0.8rem;
}

#jab{
    position: relative;
    line-height: 1rem;
    width: 40% !important;
    height: 0 !important;
    left: 53.25rem;
    top: 5rem;
}

#jab h2{
    font-size: 2.4rem;
}

#jab p{
    font-size: 1.2rem;
}

.grabber{
    position: absolute;
    margin-right: 54rem;
    max-width: 33rem;
    background-color: white !important;
    width: 100%;
    padding: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-radius: 0rem !important;  
}
.logo{
    display: flex; /* or use display: grid; */
    justify-content: center; /* horizontally center */
    align-items: center;
    width: 30rem;
    height: 3rem;
}

.logo img{
    height: 2rem;
    width: 2rem;
}

#SignUpPage label, #SignUpPage form, #SignUpPage input{
    color: #333333 !important;
    border-color: gray;
}

#SignUpPage p{
    padding-top: 1rem;
    color: #333333 !important;
    font-size: .8rem;
}

.welcome{
    font-size: 2.4rem;
    margin-bottom: 0;
}

#SignUpPage ::placeholder{
    color: gray;
}

#SignUpPage input:hover{
    border-color: #333333;
}

.wrapper{
    position: absolute;
    margin-left: 54rem;
    max-width: 28rem;
    width: 100%;
    padding: 1.25rem;
    border-radius: 1.875rem !important;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#LogInPage input:hover{
    border-color: white;
    color: white;
}


.cum button{
   border-radius: 6.25rem;
   border-color: #084d6e;
   background-color: #084d6e;
}

.cum button:hover{
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
    border-color: #0071bd;
    background-color: #0071bd;
 } 

.card-body label{
padding-left: 1rem;
}

.card-body input{
    border-radius: 6.25rem;
    /* background-color: aliceblue; */
}

#da-link{
    font-size: small !important;
    text-align: right;
    left: 14rem;
    width: 6.7rem;
}

#da-link:hover {
    background-color: transparent;
}
