#cover{
    width: 100%;
    height: 30%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

#profil{
    min-height: 15rem;
    min-width: 15rem;
    max-height: 15rem;
    max-width: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

.cover-stuff{
    padding: 1rem;
    border-radius: 0.3rem;
    /* box-shadow: 0 2px 5px #00000080; */
    background-image: none !important;
}

.main{
    /* background-color: red;    */
    padding-left: 1rem;
    width: 70rem;
    overflow: scroll;
    height: 96vh;
}

.nain{
    /* background-color: red;    */
    margin-left: 2rem;
    margin-right: 2rem;
    width: 60rem;
}

.names-and-shit{
    margin: 1rem 0 0 1.8rem;
    /* background-color: blue; */
    height: 14rem;
    width: 43rem;
}

.names-and-shit h1{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2 !important;
}

.names-and-shit h2{
    font-weight: 700;
    line-height: 1 !important;
}

.names-and-shit h4{
    font-size: medium;
    font-weight: 300;
    line-height: 0 !important;
}

.stuf{
    /* background-color: red; */
    max-width: 35rem;
    width: 35%;
    box-shadow: 0 2px 5px #00000080;
    background-color: none !important;
    position: relative;
    border-radius: 1rem;
    overflow: scroll;
    height: 96vh;
}

.stuf input, .stuf select{
    border: solid 0.5px;
    border-radius: 2rem;
}

.stuf textarea{
    border-radius: 1rem;
    border: solid 0.5px;
}

.stuf option{
    color: #333333;
}

.stuf input:focus, 
.stuf select:focus, 
.stuf textarea:focus {
    border: 1px solid white;
}

.stuf option:focus {
    outline: none;
}

.stuf button{
    margin-top: 1rem;
    width: 100%; 
    border-radius: 6.25rem;
    border-color: #084d6e;
    background-color: #084d6e;
}

.stuf button:hover{
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
    border-color: #0071bd;
    background-color: #0071bd;
 } 

.sexy-texty{
    padding: 2rem;
}

#trash{
    color: red;
    background: none;
    border: none;
    font-size: .9rem;
    margin: 0 0 1.2rem .4rem;
}

#bubble{
    background-color: darkslategrey;
    border-radius: 2rem;
    width: fit-content;
    padding: 0.1rem 0.6rem;
    margin-top: -1rem;
}

.rat{
    margin-top: 2rem;
    /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
    width: 57rem;
    padding-bottom: 2rem;
}

.like{
    height: fit-content;
    width: fit-content; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.1rem;
    border-radius: 2rem;
    margin: 1rem 1rem;
}

.like p{
    margin: 0.2rem 0.6rem 0.3rem 0rem;    
}

.like button{
    background: none;
    color: white;
    border: none;
    margin-bottom: 0.3rem; 
    font-size: large;
}

.textarea-container {
    position: relative;
    width: 57rem; /* Adjust width as needed */
  }

#write-comment{
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    outline: none;
}

#comment-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 2rem;
    color: #0071bd;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.comment-section {
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s ease-in-out;
}

.comment-section.expanded {
    max-height: fit-content; /* Adjust this value to fit your content */
    transition: all 0.4s ease-in-out;
}

.comment-icon{
    height: fit-content;
    width: fit-content; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
    margin: 1rem 0rem;
}

.comment-icon button{
    background: none;
    color: white;
    border: none;
    margin-bottom: 0.3rem; 
    font-size: large;
}

.create-post{
    height: fit-content;
    max-width: fit-content; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0rem 1.4rem 0rem 0rem;
    border-radius: 2rem;
    white-space: nowrap;
    color: white;
    top: 2rem;
    left: 28rem;
    position: relative;
    border-color: #084d6e;
    background-color: #084d6e;
}

.create-post:hover{
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
    border-color: #0071bd;
    background-color: #0071bd;
} 

.transition {
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    height: 0;
}

.transition.show {
    height: 53.4rem;
}

.creat{
    /* background: red; */
    padding: 2rem 2rem 2rem 0rem;
}

.creat input, .creat select{
    border: solid 0.5px;
    border-radius: 2rem;
}

.creat textarea{
    border-radius: 1rem;
    border: solid 0.5px;
}

.creat label{
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
}

.creat input:focus, 
.creat select:focus {
    border: 1px solid white;
}

.creat button{
    margin-top: 1rem;
    padding: .8rem 0rem;
    width: 100%; 
    border-radius: 6.25rem;
    border-color: #084d6e;
    background-color: #084d6e;
    color: white;
    border: none ;
}

.creat button:hover{
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
    border-color: #0071bd;
    background-color: #0071bd;
    transition: all 0.1s ease-in-out;
}

.update-icon{
    height: fit-content;
    width: fit-content; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
    margin: 1rem 1rem;
}

.update-icon button{
    background: none;
    color: white;
    border: none;
    margin-bottom: 0.3rem; 
    font-size: large;
}

.update-icon text{
    font-size: .9rem;
    padding-left: 0.5rem;
}

.rawr-icon{
    height: fit-content;
    width: fit-content; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0rem 0.05rem;
    border-radius: 2rem;
    margin-right: .5rem;
}

.rawr-icon button{
    background: none;
    color: white;
    border: none;
    margin-bottom: 0.3rem; 
    font-size: small;
}

.rawr-icon text{
    font-size: .7rem;
    padding-left: 0.5rem;
}

.update-trans {
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    height: 0;
    padding: 2rem 2rem 0rem 0rem;
}

.update-trans input{
    border: solid 0.5px;
    border-radius: 2rem;
}

.update-trans textarea{
    border-radius: 1rem;
    border: solid 0.5px;
}

.update-trans label{
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
}

.update-trans input:focus {
    border: 1px solid white;
}

.update-trans button{
    margin-top: 1rem;
    padding: .8rem 0rem;
    width: 100%; 
    border-radius: 6.25rem;
    border-color: #084d6e;
    background-color: #084d6e;
    color: white;
    border: none ;
}

.update-trans button:hover{
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
    border-color: #0071bd;
    background-color: #0071bd;
    transition: all 0.1s ease-in-out;
 }

.update-trans.show {
    height: 29rem;
    /* background-color: red; */
}

.hi{
    /* background: red; */
    margin-left: 5rem;
}

.cober{
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: -2rem;
    object-fit: cover;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
}

#pfp{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    background-color: white;
    box-shadow: 0 0.313rem 0.625rem rgba(0,0,0,0.2);
    margin-top: -4rem;
}

.ra{
    display: flex;
    justify-content: center;
    height: 35rem;
    width: 100%;
}

#bronze button{
    background: linear-gradient(to bottom right, #CD7F32, #A52A2A);
    transition: all 0.2s ease-in-out;
}

#gold button{
    background: linear-gradient(to bottom right, #FFD700, #FFA500);
}

#silver button{
    background: linear-gradient(to bottom right, #dbdbdb, #7d7d7d);
}

#bronze button,
#gold button,
#silver button {
    background-size: 200% auto;
    transition: all 0.2s ease;
    transform: scale(1);
}

#bronze button:hover {
    background-position: right center;
    box-shadow: 0 2px 15px #00000080;
}

#gold button:hover {
    background-position: right center;
    box-shadow: 0 2px 15px #00000080;
}

#silver button:hover {
    background-position: right center;
    box-shadow: 0 2px 15px #00000080;
}


.wo{
    width: 20rem;
    margin: 2rem 1rem;
    height: 30rem;
    padding: 2rem 0rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 10px #00000080;
    /* background-image: none !important; */
    transition: all 0.15s ease-in-out;
    margin-bottom: 5rem;
}

.wo:hover{
    box-shadow: 0 2px 15px #00000080;
    height: 30.5rem;
}

#gold {
    margin-top: 1rem;
    height: 31rem;
}

#gold:hover{
    box-shadow: 0 2px 15px #00000080;
    height: 31.5rem;
}

.username{
    margin-top: -1rem !important;
    padding-bottom: 1.5rem;
    font-style: italic;
}

#pay{
    outline: none;
    border: 0;
    padding: 1rem 7rem;
    box-shadow: 0 2px 10px #00000080;
    margin-top: 14rem;
}

.tippy{
    /* background-color: red; */
    width: 25rem;
    box-shadow: 0 2px 5px #00000080;
    background-color: none !important;
    position: relative;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    overflow: scroll;
    height: fit-content;
}

.toppy{
    /* background-color: red; */
    width: 25rem;
    box-shadow: 0 2px 5px #00000080;
    background-color: none !important;
    position: relative;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 1rem;
    overflow: scroll;
    height: fit-content;
}

.ratty{
    /* background-color: red; */
    width: 25rem;
    background-color: none !important;
    position: relative;
    border-radius: 1rem;
    overflow: visible;
    height: fit-content;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
height: 3rem;
padding-left: 0.2rem;
}